/* Common */
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.main-content {
    width: 1367px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
.main-content.header-control {
    height: 77px;
    line-height: 77px;
}
.main-fixed {
    width: 1367px;
    margin-left: auto;
    margin-right: auto;
    height: 56px;
    line-height: 24px;
    max-width: calc(100% - 48px);
}
.btn {
    padding: 0 10px;
    line-height: 30px;
    font-size: 1.2rem;
    border: 1px solid #949494;
    text-align: center;
    display: inline-block;
    border-radius: 999px;
    transition: all 0.5s ease;
}
.btn:hover {
    background: #03a8f4;
    border: #03a8f4 solid 1px;
    color: #fff;
}

/* Header*/
.header {
    background: #fff;
}
.header-top.fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.header.fixed {
    position: fixed;
    width: 100%;
    top: 56px;
    z-index: 101;
}
.header-top {
    width: 100%;
    background: #e8e8e8;
}
.header-top .main-fixed p {
    font-size: 1.4rem;
    letter-spacing: -0.3px;
}
.header-top .main-fixed p span {
    color: #00a7d3;
}
.header .body {
    display: flex;
    align-items: center;
}
.header .logo {
    height: 46px;
    line-height: 46px;
}
.header .logo img {
    height: 100%;
}
.header .nav {
    margin-left: auto;
}
.header .nav ul {
    display: flex;
}
.header .nav li {
    position: relative;
}
.header .nav a {
    font-size: 1.4rem;
    padding: 29px 0;
    color: #333333;
    margin: 0 10px;
    position: relative;
}
.header .nav a:hover {
    color: #00a7d3;
}
.header .nav a.active {
    font-weight: 700;
    color: #00a7d3;
}
.header .nav a.active::after {
    width: 140%;
}
.header .nav a::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -70%;
    width: 0;
    height: 2px;
    background-color: #00a7d3;
    transition: all 0.5s ease-in-out;
}
.header .nav a:hover::after {
    width: 140%;
    background-color: #00a7d3;
}
.header .action a {
    margin: 0 5px;
}
.header .change-language {
    margin-right: 30px;
    margin-left: 24px;
}
.header .action a,
.header .change-language a {
    border: #949494 solid 1px;
    color: #333333;
}
