@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
main {
    background: #f2f2f2;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.main-content {
    width: 1367px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
.main-content.header-control {
    height: 77px;
    line-height: 77px;
}
.main-fixed {
    width: 1367px;
    margin-left: auto;
    margin-right: auto;
    height: 56px;
    line-height: 24px;
    max-width: calc(100% - 48px);
}
.btn {
    padding: 0 10px;
    line-height: 30px;
    font-size: 1.2rem;
    border: 1px solid #949494;
    text-align: center;
    display: inline-block;
    border-radius: 999px;
    transition: all 0.5s ease;
}
.btn:hover {
    background: #03a8f4;
    border: #03a8f4 solid 1px;
    color: #fff;
}

/* Header*/
.header {
    background: #fff;
}
.header-top.fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.header.fixed {
    position: fixed;
    width: 100%;
    top: 56px;
    z-index: 101;
}
.header-top {
    width: 100%;
    background: #e8e8e8;
}
.header-top .main-fixed p {
    font-size: 1.4rem;
    letter-spacing: -0.3px;
}
.header-top .main-fixed p span {
    color: #00a7d3;
}
.header .body {
    display: flex;
    align-items: center;
}
.header .logo {
    height: 46px;
    line-height: 46px;
}
.header .logo img {
    height: 100%;
}
.header .nav {
    margin-left: auto;
}
.header .nav ul {
    display: flex;
}
.header .nav li {
    position: relative;
}
.header .nav a {
    font-size: 1.4rem;
    padding: 29px 0;
    color: #333333;
    margin: 0 10px;
    position: relative;
}
.header .nav a:hover {
    color: #00a7d3;
}
.header .nav a.active {
    font-weight: 700;
    color: #00a7d3;
}
.header .nav a.active::after {
    width: 140%;
}
.header .nav a::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -70%;
    width: 0;
    height: 2px;
    background-color: #00a7d3;
    transition: all 0.5s ease-in-out;
}
.header .nav a:hover::after {
    width: 140%;
    background-color: #00a7d3;
}
.header .action a {
    margin: 0 5px;
}
.header .change-language {
    margin-right: 30px;
    margin-left: 24px;
}
.header .action a,
.header .change-language a {
    border: #949494 solid 1px;
    color: #333333;
}

/* Banner Carousel */
.s-container,
.container-1,
.container-2 {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.container-1:hover img,
.container-2:hover img {
    transform: scale(1.05);
}
.s-container {
    height: 617px;
}
.container-1 {
    height: 630px;
}
.container-2 {
    height: 300px;
}
.container-2 img,
.container-1 img,
.s-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease;
}

/* link nav */
.link-nav {
    height: 202px;
    background: #fff;
}
.link-nav__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 30px 20px;
}
.link-nav__content .chialayout {
    display: flex;
    justify-content: space-around;
}
.link-nav__content .link-nav__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.link-nav__info .h2 {
    margin: 0 0 20px;
    text-align: left;
    font-size: 2.6rem;
    line-height: 1;
    color: #333333;
}
.link-nav__info .words {
    color: #444444;
    font-size: 2.2rem;
    line-height: 1;
}

/* link box */
.link-box {
    padding-top: 60px;
    margin-bottom: 110px;
}
.link-box-content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
        "item-1 item-2"
        "item-1 item-3";
    gap: 30px;
    grid-auto-rows: minmax(300px, 1fr);
}
.box-item {
    background: orange;
    width: 668px;
    width: 100%;
}
.box-item-1 {
    grid-area: item-1;
}
.box-item-2 {
    grid-area: item-2;
}
.box-item-3 {
    grid-area: item-3;
}
.link-box .label {
    position: absolute;
    left: 45px;
    bottom: 50px;
}
.link-box .h2 {
    font-weight: 700;
    margin: 0 0 20px;
    font-size: 4rem;
    color: #fff;
}
.link-box .words {
    color: #ffffff;
    font-size: 1.8rem;
}

/* Products */
.products .sub-title {
    font-size: 4.2rem;
    color: #333;
    text-align: center;
    margin-bottom: 50px;
}

.products .product-img img {
    width: 100%;
}
.products .product-info {
    padding: 20px;
    text-align: center;
}
.product-info .t1 {
    margin-bottom: 10px;
    font-size: 2.4rem;
    color: #333;
}
.product-info .t2 {
    font-size: 1.8rem;
    color: #666;
}
.moreProduct {
    padding-bottom: 80px;
    text-align: center;
    margin-top: 40px;
}
.moreProduct .product-btn {
    min-width: 200px;
    padding: 10px 15px;
    font-size: 1.6rem;
}
